.title-nv1 {
    
}

.title-nv2 {
    padding-left: 30px;
}

.title-nv3 {
    padding-left: 40px;
}

.title-nv4 {
    padding-left: 50px;
}

.btn-new-subtitle {
    padding: 0px 10px 0px 10px !important;
}